  .gallery {
    padding: 4rem;
    background: rgb(66, 64, 64);
  }
  
  h1 {
    text-align: center;
  }
  
  .gallery__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .gallery__wrapper {
    position: center;
    margin: 50px 0 45px;
  }
  
  .gallery__items {
    margin-bottom: 24px;
    justify-content: center;
  }
  
  .gallery__item {
    flex: 1;
    list-style: none;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .gallery__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .gallery__item__pic-wrap {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .gallery__item__img {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .gallery__item__img:hover {
    transform: scale(1.1);
  }
  
  .gallery__item__info {
    padding: 20px 30px 30px;
  }
  
  .gallery__item__text {
    color: #fafafb;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .gallery__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .galery__item {
      margin-bottom: 2rem;
    }
  }